/* =========================================================
   REVERA - CONTENIDO AVISO DE PRIVACIDAD
========================================================= */

.aviso-contenido {
  width: 100%;
}

.aviso-contenido section {
  margin: 0;
}

.aviso-contenido h2,
.aviso-contenido h3,
.aviso-contenido p,
.aviso-contenido ul {
  box-sizing: border-box;
}
